@media screen and (    
max-width:1648px){
    #two .one{
        margin-left: 98px;
    }
}   


@media screen and (    
max-width:1725px){
    #two .one{
        width: 1400px;
        height: 605px;
    }

    #two .one img{
        width: 660px;
        height: 605px;
    }
}


    @media screen and (    
max-width:1497px){
    #two .one{
        width: 1100px;
        height: 605px;
        margin-left: 215px;
    }

    #two .one img{
        width: 560px;
        height: 605px;
    }
    
    #two .two .left h1,p {
        margin-left: 50px;
    }

    #two .two .right{
        margin-right: 210px;
    }

    #two .two .right .curve{
        margin-top: 65px;
    }

    #two .two .right .curve .a{
        width: 450px;
    }

    #two .two .right a{
        width: 115px;
        height: 115px;
    }

    #two .two .right .sui{
        margin-left: 34px;
        margin-top: -28px;
    }
    
    #two .two .curve .a1{
        margin-top: 11px;
        position: absolute;
        margin-left: -145px;
    }
    
    #two .a1 p{
        text-align: center;
        font-size: 14px;
        margin: 0;
        line-height: 1;
    }
    
    #two .two .curve .a2{
        margin-top: 48px;
        position: absolute;
        margin-left: -291px;
    }
    
    #two .two .right .suii{
        margin-left: 24px;
        margin-top: -14px;
        width: 67px;
    }
    
    #two .a2 p{
        text-align: center;
        font-size: 16px;
        margin: 0;
        margin-top: 0px;
        font-weight: 100;
        line-height: 18px;
    }
    
    #two .two .curve .a3{
        margin-top: 14px;
        position: absolute;
        margin-left: -436px;
    }
    
    #two .two .right .suiii{
        margin-left: 31px;
        margin-top: -30px;
        width: 50px;
        height: 52px;
    }
    
    #two .a3 p{
        text-align: center;
        font-size: 16px;
        margin: 0;
        margin-top: 3px;
        margin-left: -5px;
        font-weight: 100;
    }
    
    #two .two .curve .a4{
        margin-top: 127px;
        position: absolute;
        margin-left: -484px;
    }
    
    #two .two .right .suiiii{
        margin-left: 30px;
        margin-top: -36px;
        width: 50px;
        height: 64px;
    }
    
    #two .a4 p{
        text-align: center;
        font-size: 13px;
        margin: 0;
        line-height: 1.2;
        margin-top: -8px;
        font-weight: 100;
    }
    
    #two .two .curve .a5{
        margin-top: 184px;
        position: absolute;
        margin-left: -345px;
    }
    
    #two .two .right .suiiiii{
        margin-left: 29px;
        margin-top: -34px;
        width: 50px;
        height: 64px;
    }
    
    #two .a5 p{
        text-align: center;
    font-size: 15px;
    margin: 0;
    font-weight: 100;
    margin-top: -7px;
    }
    
    #two .two .curve .a6{
        margin-top: 177px;
        position: absolute;
        margin-left: -193px;
    }
    
    #two .two .right .suiiiiii{
        margin-left: 33px;
        margin-top: -38px;
        width: 50px;
        height: 64px;
    }
    
    #two .a6 p{
        text-align: center;
        font-size: 16px;
        margin: 0;
        font-weight: 100;
    }
    
    #two .two .curve .a7{
        margin-top: 219px;
        position: absolute;
        margin-left: -77px;
    
    }
    
    #two .two .right .suiiiiiii{
        margin-left: 33px;
        margin-top: -33px;
        width: 50px;
        height: 64px;
    }
    
    #two .a7 p{
        text-align: center;
        font-size: 16px;
        margin: 0;
        margin-top: -11px;
        font-weight: 100;
        line-height: 1;
    }
    

    #two .three h1{
        margin-left: 9px;
    }

    #two .three .makkah{
        margin-left: -170px;
    }
   
    #two .four{
        margin-left: -185px;
    }

}

@media screen and (    
max-width:1315px){

    #two .one {
        width: 1000px;
        height: 605px;
        margin-left: 155px;
    }

    #two .one img {
        width: 500px;
        height: 605px;
    }

    #two .one h3 {
        color: white;
        font-size: 39px;
        margin-top: 85px;
        position: absolute;
        font-weight: 600;
        margin-left: 65px;
    }

    #two form {
        margin-left: 65px;
        margin-top: 120px;
    }

    #two .two .left {
        margin-left: -75px;
    }

    #two .two .right {
        margin-right: 200px;
    }

    #two .three h1 {
        margin-left: -31px;
    }

    #two .three .makkah {
        margin-left: -300px;
    }

    #two .four {
        margin-left: -305px;
        margin-top: 35px;
    }


}

@media screen and (    
max-width:1199px){
    #one .left {
        margin-left: 80px;
        padding-top: 158px;
        background-color: #375c6e;
        width: 243px;
        border-bottom-left-radius: 26em;
        position: fixed;
        border-bottom-right-radius: 6em;
        height: 280.5px;
    }

    #two .one {
        width: 920px;
        height: 540px;
        margin-left: 137px;
    }

    #two .one img {
        width: 451px;
        height: 540px;
    }

    #two .two .right {
        margin-right: 98px;
    }

    #two .three .makkah {
        margin-left: -358px;
    }

    #two .four svg {
        margin-left: 465px;
        margin-top: 80px;
        width: 800px;
    }

    #two .four a {
        padding-top: 44px;
        width: 105px;
        height: 105px;
        display: inline-block;
        border-radius: 50%;
        background: #00749a;
    }

    #two .four h1 {
        position: absolute;
        margin-left: 608px;
        margin-top: 67px;
        color: white;
        font-size: 22px;
        font-weight: 800;
        letter-spacing: 22px;
    }

    #two .four .a3 {
        margin-top: 104px;
        position: absolute;
        margin-left: -820px;
    }

    #two .four .a7 {
        margin-top: 241px;
        position: absolute;
        margin-left: -470px;
    }

    #two .four .a1 {
        margin-top: 104px;
        position: absolute;
        margin-left: -87px;
    }

    #two .four {
        margin-left: -260px;
        margin-top: 35px;
    }

    #two .four .suiii {
        margin-left: 27px;
        margin-top: -32px;
        width: 50px;
        height: 47px;
    }

    #two .four .a3 p {
        text-align: center;
        font-size: 17px;
        margin: 0;
        color: white;
        margin-top: 0px;
        font-weight: 100;
        line-height: 1;
    }

    #two .four .suiiiiiii {
        margin-left: 29px;
        margin-top: -40px;
        width: 50px;
        height: 64px;
    }

    #two .four .a7 p {
        text-align: center;
        font-size: 14px;
        margin: 0;
        line-height: 1;
        margin-top: -7px;
        font-weight: 100;
        color: white;
    }

    #two .four .sui {
        margin-left: 28px;
        margin-top: -24px;
    }

    #two .four .a1 p {
        text-align: center;
        font-size: 13px;
        margin: 0;
        color: white;
        font-weight: 100;
        line-height: 1;
        margin-top: 0px;
    }
    
}


@media screen and (    
max-width:1092px){
    #one .right li:nth-child(1){
        display: none;
    }

    #one .right li:nth-child(2){
        display: none;
    }

    #one .right li:nth-child(3){
        display: none;
    }

    #one .right li:nth-child(4){
        display: none;
    }

    #one .right li:nth-child(6) img {
        position: absolute;
        margin-left: 160px;
        height: 36px;
        margin-top: -17px;
    }

    #one .right li:nth-child(5) p {
        margin-left: 67px;
        margin-top: 7px;
        color: white;
        position: absolute;
        font-weight: 400;
    }

    #one .right li:nth-child(5) img {
        margin-left: 28px;
        margin-top: 6px;
        width: 23px;
        position: absolute;
    }

    #one .right {
        right: 0;
        padding-left: 1.2%;
        padding-top: 50px;
        position: fixed;
        width: 264px;
        height: 93px;
        background-color: #375c6e;
        border-bottom-left-radius: 4.5em;
    }   

    #two .one {
        width: 840px;
        height: 500px;
        margin-left: 114px;
    }

    #two .one img {
        width: 420px;
        height: 500px;
    }

    #two form {
        margin-left: 65px;
        overflow: hidden;
        width: 275px;
        margin-top: 120px;
    }

    #two .one input, select, ::placeholder {
        border-bottom: 1px solid #dfdfdf;
        margin-top: 48px;
        width: 277px;
        color: white;
    }

    #two form {
        margin-left: 65px;
        overflow: hidden;
        width: 275px;
        margin-top: 102px;
    }

    #two .two .left h1 {
        color: white;
        font-size: 50px;
        font-weight: 600;
    }

    #two .two .left h1, p {
        margin-left: 18px;
    }

    #two .two .right .curve .a {
        display: none;
    }

    #two .two .curve .a1 {
        margin-top: 21px;
        margin-left: 215px;
    }

    #two .two .curve .a2 {
        margin-top: 21px;
        margin-left: 92px;
    }

    #two .two .curve .a3 {
        margin-top: 325px;
        margin-left: 92px;
    }

    #two .two .curve .a4 {
        margin-top: 105px;
        margin-left: -122px;
    }

    #two .two .curve .a5 {
        margin-top: 325px;
        position: absolute;
        margin-left: 215px;
    }

    #two .two .curve .a6 {
        margin-top: 184px;
        position: absolute;
        margin-left: 92px;
    }

    #two .two .curve .a7 {
        margin-top: 184px;
        position: absolute;
        margin-left: 215px;
    }

    #two .two .curve .a4 {
        margin-top: 185px;
        margin-left: -33px;
    }

    #two .two .right .curve {
        margin-top: 0px;
    }

    #two .three .makkah {
        margin-left: -411px;
    }

    #two .four h1 {
        margin-left: 546px;
    }

    #two .four svg {
    display: none;
    }

    #two .four .a3 {
        margin-top: 170px;
        margin-left: 534px;
    }

    #two .four .a7 {
        margin-top: 170px;
        margin-left: 769px;
    }

    #two .four .a1 {
        margin-top: 170px;
        margin-left:957px;
    }

    #two .one {
        width: 820px;
        height: 500px;
        margin-left: 114px;
    }

}

@media screen and (    
max-width:936px){
    #one .left {
        margin-left: 53px;
        padding-top: 158px;
        background-color: #375c6e;
        width: 199px;
        border-bottom-left-radius: 26em;
        position: fixed;
        border-bottom-right-radius: 6em;
        height: 238.5px;
    }

    #one .left p {
        color: white;
        margin-top: -16px;
        width: 91px;
        margin-left: 80px;
        font-size: 12px;
    }

    #one .left img {
        width: 170px;
        margin-top: -37px;
    }


    #two .one h3 {
        color: white;
        font-size: 39px;
        margin-top: 33px;
        position: absolute;
        font-weight: 600;
        margin-left: 286px;
    }

    #two .two .left h1 {
        color: white;
        font-size: 70px;
        font-weight: 600;
    }

    #two .two .left h1, p {
        margin-left: -13px;
    }

    #two .two .left p {
        margin-top: 25px;
        font-size: 24px;
        color: black;
    }

    #two .two .right a {
        width: 100px;
        height: 100px;
    }   

    #two .two .right .suii {
        margin-left: 23px;
        margin-top: -26px;
        width: 55px;
        position: absolute;
    }

    #two .a2 p {
        text-align: center;
        font-size: 16px;
        margin: 0;
        margin-top: 12px;
        font-weight: 100;
        line-height: 18px;
    }

    #two .two .right .sui {
        margin-left: 30px;
        margin-top: -30px;
        width: 41px;
        position: absolute;
    }

    #two .a1 p {
        text-align: center;
        font-size: 13px;
        margin: 0;
        line-height: 1;
        margin-top: 15px;
    }

    #two .two .right .suiiii {
        margin-left: 24px;
        margin-top: -36px;
        width: 50px;
        height: 56px;
    }

    #two .two .right .suiiiiii {
        margin-left: 26px;
        margin-top: -43px;
        width: 50px;
        height: 64px;
    }

    #two .two .right .suiiiiiii {
        margin-left: 25px;
        margin-top: -45px;
        width: 50px;
        height: 64px;
    }

    #two .two .right .suiii {
        margin-left: 25px;
        margin-top: -32px;
        width: 50px;
        height: 52px;
    }

    #two .two .right .suiiiii {
        margin-left: 27px;
        margin-top: -41px;
        width: 45px;
        height: 64px;
    }

    #two .a5 p {
        text-align: center;
        font-size: 13px;
        margin: 0;
        font-weight: 100;
        margin-top: -7px;
    }

    #two .three .makkah {
        margin-left: -524px;
    }

    #two .four {
        margin-left: -339px;
        margin-top: 35px;
    }

    #two .one img {
        display: none;
    }

    #two .one {
        width: 100%;
        height: 435px;
        margin-left: 0px;
        margin-top: 90px;
        border-radius: unset;
    }

    #two .one {
        width: 100%;
        height: 461px;
        margin-left: 0px;
        margin-top: 90px;
        grid-template-columns: none;
        border-radius: unset;
    }

    #two form {
        margin-left: 65px;
        overflow: hidden;
        width: 80%;
        margin-top: 102px;
    }

    #two .one input, select, ::placeholder {
        border-bottom: 1px solid #dfdfdf;
        margin-top: 48px;
        width: 100%;
        color: white;
    }

    #two form {
        margin-left: 200px;
        overflow: hidden;
        width: 65%;
        margin-top: 102px;
    }

    #two .one button {
        margin-top: 42px;
        background: #1eb1e3;
        border-radius: 1em;
        color: white;
        height: 50px;
        width: 122px;
        margin-left: 214px;
        font-weight: 700;
    }

    #two .two .right {
        margin-top: 531px;
        margin-left: -187px;
    }
    
    #two .one h3 {
        color: white;
        font-size: 39px;
        margin-top: 33px;
        position: absolute;
        font-weight: 600;
        margin-left: 344px;
    }

    #two .two .curve .a2 {
        margin-top: 8%;
        margin-left: -38%;
    }

    #two .two .curve .a1 {
        margin-top: 8%;
        margin-left: -12%;
    }

    #two .two .curve .a6 {
        margin-top: 8%;
        position: absolute;
        margin-left: 14%;
    }

    #two .two .curve .a7 {
        margin-top: 27%;
        position: absolute;
        margin-left: -12%;
    }

    #two .two .curve .a3 {
        margin-top: 27%;
        margin-left: -38%;
    }

    #two .two .curve .a5 {
        margin-top: 27%;
        position: absolute;
        margin-left: 14%;
    }

    #two .two .curve .a4 {
        margin-top: 45%;
        margin-left: -12%;
    }

    #two .three .makkah {
        margin-left: -474px;
        margin-top: 177px;
    }

    #two .three h1 {
        margin-left: -31px;
        margin-top: 523px;
    }

    #two .three .makkah {
        margin-left: -489px;
        margin-top: 79px;
    }

    #two .two .left {
        margin-left: 54px;
        width: 495px;
    }

}


@media screen and (max-width: 768px){
    #one .middle h1 {
        font-weight: 600;
        font-size: 35px;
    }

    #one .middle {
        margin-left: 96px;
        margin-top: 293px;
        padding-bottom: 30px;
        color: white;
        font-size: 31px;
    }

    #two .one .div{
        margin-left: -88px;
    }

    #two .two {
        margin-left: 175px;
        margin-left: 62px;
        margin-top: 80px;
        padding-bottom: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #two .three .makkah {
        margin-left: -96%;
        margin-top: 79px;
    }

    #two .three .two a {
        margin-top: 530px;
        position: absolute;
        margin-left: 671px;
    }

    #two .four {
        margin-left: -426px;
        margin-top: 35px;
    }

}