

* {
	margin: 0;
	padding: 0;
    scroll-behavior: smooth;
	border: 0;
	vertical-align: baseline;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;

}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}


.flex-wrapper {
	display: flex;
	justify-content: space-between;
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}

#one{
    width: 100%;
    height: 100%;

}

#one .top{
    box-sizing: border-box;     
    color: #000;
    overflow:hidden ;   
    display: flex;
    align-items: center;
    
}

#one .left{
    margin-left: 137px;
    padding-top: 158px;
    background-color: #375c6e;
    width: 243px;
    border-bottom-left-radius: 26em;
    position: fixed;
    border-bottom-right-radius: 6em;
    height: 280.5px;
}
#one .left a{
    padding-left: 33px;
}

#one .left img{
    width: 255px;
    margin-top: -17px;

}

#one .left p{
    color: white;
    margin-top: -29px;
    margin-left: 120px;
    font-size: 12px;
}

#form{
    width: 100%;
}

#one .right {
    right: 0;
    padding-left: 1.2%;
    padding-top: 50px;
    position: fixed;
    width: 457px;
    height: 93px;
    background-color: #375c6e;
    border-bottom-left-radius: 4.5em;
}

#one .right .instagram{
    width: 30px;
}

#one .right li{
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
}

#one .right li:nth-child(4){
    position: absolute;
    color: white;
    margin-top: -4px;
    font-size: 30px;
    font-weight: 700;
}

#one .right li:nth-child(5) img{
margin-left: 18px;
margin-top: -9px;
width: 23px;
position: absolute;
}

#one .right li:nth-child(5) p{
margin-left: 50px;
margin-top: -8px;
color: white;
position: absolute;
font-weight: 400;
}

#one .right li:nth-child(5) {
    height: 17px;
}

#one .right li:nth-child(6) img{
position: absolute;
margin-left: 165px;
height: 36px;
margin-top: -33px;
}

#one .middle{
    padding-top: 10rem;
    margin-left: 115px;
}

#one .middle h1{
    font-size: 80px;
    color: #ddd;
}

#one .middle p{
    position: relative;
    width: 66%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#one .down span:hover {
    background: #0089B8;
    color: #fff;
}

#one .down{
    margin-left: 115px;
    margin-top: 2rem    ;
}

#one .down span{
    cursor: pointer;
    font-size: 13px;
    color: #666;
    padding: 4px 6px;
    border-radius: 6px;
    border: 1px #ddd solid;
    background: #e1ffff;
    transition: 0.6s;
}

.Domesticc{
    background-image: url(../img/pexels-krivec-ales-5801511.jpg); 
    width: 612px;
     height: 408px;
    border-radius: 47px 0 0 49px;
}

.visaa{
    background-image: url(../img/mana5280-ivG8LkDrtjs-unsplash.jpg);
     width: 612px;
      height: 408px;
      border-radius: 47px 0 0 49px;
}

.Internationall{
    background-image: url(../img/amanda-bartel-_P2FUxxU2qE-unsplash\ \(1\).jpg);
     width: 612px;
      height: 408px;
      border-radius: 47px 0 0 49px;
} 

.Corporatee{
    background-image: url(../img/hihu.jpeg);
     width: 612px;
      height: 408px;
      border-radius: 47px 0 0 49px;
}

.Attestationn{
    background-image: url(../img/1000116263.jpg);
    width: 612px;
    height: 408px;
    border-radius: 47px 0 0 49px;
}

.Cabss{
    background-image: url(../img/1000116265.jpg);
    width: 612px;
    height: 408px;
    border-radius: 47px 0 0 49px;
}

.Luxuryy{
    background-image: url(../img/1000116267.jpg);
    width: 612px; 
    height: 408px;
    border-radius: 47px 0 0 49px;
}

.servicepageCarrier:before {
    width: 20%;
    height: 60%;
    background: #0089B8;
    position: absolute;
    top: -30px;
    content: "";
    z-index: 0;
    left: 15%;
}

.servicepageCarrier {
    margin-top: 8%;
}

.servicepageCarrier .servicepageblock .image {
    border-radius: 2px;
    overflow: hidden;
}

.servicepageCarrier .servicepageblock {
    width: 80%;
    float: right;
    z-index: 1;
    background: #f2f2f2;
}

.servicepageCarrier .servicepageblock .contentdiv {
    padding: 4% 0;
}

.filterServices {
    cursor: pointer;
    font-size: 13px;
    color: #666;
    padding: 4px 6px;
    border-radius: 6px;
    border: 1px #ddd solid;
    background: #e1ffff;
    transition: 0.6s;
}

.filterServices:hover {
    background: #0089B8;
    color: #fff;
}

.queryService {
    cursor: pointer;
    font-size: 13px;
    background: #ddd;
    padding: 6px 25px;
    color: #666;
    border-radius: 25px;
    letter-spacing: 2px;
    display: inline-block;
    margin-top: 20px;
    transition: 0.5s;
}

.queryService:hover {
    background: #0089B8;
    color: #fff;
}



.packagecarry .block {
    background-size: cover!important;
    border-radius: 40px;
    overflow: hidden;
}

.packagecarry .block h2 {
    margin: 10% 0 0 8%;
    line-height: 30px;
    font-size: 35px;
}

.packagecarry .block a {
    margin: 150px 0 10% 8%;
    color: #fff;
    vertical-align: middle;
}

.packagecarry .block a i {
    vertical-align: middle;
}

.packagecarry .block h3 {
    font-size: 14px;
    color: #005CB8;
    margin: 1% 0 0 8%;
    background: #fff;
    width: 120px;
    text-align: center;
}

.domestic {
    background: #dddddd2b;
    width: 80%;
    margin-left: 20%;
    margin-top: 76px;
    border-radius: 47px 0 0 49px;
}

.ha {
    color: #0089B8;
    margin-left: 838px;
    margin-right: 297px;
    font-size: 30px;
    margin-top: -412px;
    width: 482px;
    height: 394px;
}

.sui{
    margin-top: 19px;
    margin-bottom: 14px;
}

.haa {
    color: #0089B8;
    margin-left: 838px;
    margin-right: 297px;
    font-size: 30px;
    margin-top: -342px;
    width: 594px;
    height: 323px;
}

.suui{
    margin-top: 19px;
    margin-bottom: 14px;
}

.haaa {
    color: #0089B8;
    margin-left: 838px;
    margin-right: 297px;
    font-size: 30px;
    margin-top: -306px;
    width: 482px;
    height: 287px;
}


#form{
    text-align: center;
}

.t {
    margin-top: 83px;
    margin-bottom: 56px;
    font-size: 2.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.feedinputs, .feedinputs.ta {
    border: 0px;
    border-bottom: 1px #999 solid;
    padding: 13px 5px;
    font: caption;
    font-size: 17px;
    color: #000;
    width: 36% !important;
    background: none;
}

.submitQuick {
    background: #1EB1E3;
    padding: 17px 25px;
    border: 0px;
    border-radius: 20px;
    color: #fff;
    margin-top: 8px;
    transition: 0.6s;
    cursor: pointer;
}






footer {
    margin-top: 4%;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    background: #7e7e7e2e;
}

footer .container {
    padding-top: 3%;
}


footer h4 {
    color: #375c6e;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

footer a {
    color: #6E6E6E;
    font-weight: 100;
}

footer a span{
    font-size:11px;
    color:#999;
}

footer p {
    color: #6E6E6E;
    line-height: 22px;
    font-weight: normal;
    font-weight: 100;
}

footer .centered {
    margin-left: auto;
    margin-right: auto;
}

footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    text-transform: uppercase;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    line-height: 30.5px;
}


.hanan{
    text-transform: lowercase;
}